html, body {
  font-family: sans-serif;
}

main {
  display: flex;
  flex-flow: column;
  padding: 10px;
}

header{
  background-color: #ccc;
  display: flex;
  justify-content: space-between;
  border: 5px solid black;
  padding:5px;
}

nav{
  display:flex;
  flex-flow:row wrap;
}

nav a {
  border: 1px solid black;
  background-color: #ffffff;
  padding: 10px 40px;
  margin-right: 10px;
  align-items: flex-start;
}

.hidden{
  border: 1px solid black;
  background-color: red;
  padding: 10px 50px;
  align-items: flex-end;
}
